:root {
	--color-menu-police: white;
	--main-police-color: #2e51a2;
	--police-menu-color-hover: red;
	--maint-color: #2e51a2;
	--second-backgroung: #f1f1f1;
}

* {
	font-family: Andale Mono, monospace;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
header {
	border-bottom: solid 1px;
	background-color: var(--maint-color);
	font-weight: bold;
	color: var(--color-menu-police);
	margin-bottom: 5%;
}

header .menu{
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: inline-flex;
	flex-direction: row;
}
header a:hover{
	color: blue;
}

header a {
	text-decoration: none; /* enlever le souligner des liens */
	color: var(--color-menu-police);
	padding: 1em;
}



.connexion:last-child {
	padding: 0.5em;
	float: right;
	margin-top: 8px;
	border-radius: 4px 4px 4px 4px;
	cursor: pointer;
}

.co {
	margin: 0;
	padding: 0;
	display: inline;
}

header  a:hover, .subSerie:hover {
	background-color: var(--color-menu-police);
	color: var(--main-police-color);
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0px;
}

form.candidat input[type=number] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: var(--second-backgroung);
}
.start {
	display: flex;
	align-content: center;
}
.button {
	float: left;
	padding: 10px;
	background: var(--maint-color);
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}
button {
	float: left;
	padding: 10px;
	background: var(--maint-color);
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}

form.candidat button:hover {
 	background: #0b7dda;
}

form.candidat::after {
	content: "";
	clear: both;
	display: table;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

#content table {
	border-collapse: collapse;
	margin-top: 100px;
}

#content td:nth-child(n+2) {
	text-align: center;
}

tr:nth-child(even) {  /* even: pair; odd: impair; */
	background-color: #f2f2f2;
}

#content th, td {
	padding: 2%;
	width: 15%;
}


.subSerie {
	position: absolute;
	bottom: 0;
	width: 100%;
}